* {
    margin: 0;
    padding: 0;
}

.counter {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
}

.counter button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    background: white;
    border-radius: 50%;
    border: none;
}

.counter p {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
    height: 100%;
    width: 90px;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    background: black;
    color: white;
}

.counter2 {
    display: flex;
    position: absolute;
    top: -300px;
    left: -100px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
}

.counter2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    background: white;
    border-radius: 50%;
    border: none;
}

.counter3 {
    display: flex;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
}

.counter3 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    background: white;
    border-radius: 50%;
    border: none;
}

.counter3 p {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
    height: 100%;
    width: 90px;
}
